mat-card{
    width:80vw;
}

.card-container{
    margin-left:10vw;
    margin-right: 10vw;
}
.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
